.card {
	background-color: #2aad77;
  border: 1px solid black;
  border-radius: 5px;
  width: 33%;
  height: 90px;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.hide {
	display: none
}

body {
	font-family: monospace;
	background-color: #f6f9fc;
}

.header {
	color: rgb(131, 67, 67);
	display: flex;
	justify-content: center;
	background-color: #2aad77;
	font-size: 15px;
}


.container {
	padding: 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.showcard,
.flippy {
	color: #fff;
	border-radius: 5px;
	background-color: rgb(122, 73, 73);
}